wsdl/item.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://roast.io" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://roast.io" targetNamespace="http://roast.io">
  <wsdl:types>
    <xs:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" jaxb:version="2.0" targetNamespace="http://roast.io">
    <xs:element name="getItemRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="query" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getItemResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="response" nillable="true" type="tns:item"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="item">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="content" type="xs:string"/>
            <xs:element name="timestamp" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getItemRequest">
    <wsdl:part element="tns:getItemRequest" name="getItemRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemResponse">
    <wsdl:part element="tns:getItemResponse" name="getItemResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ItemPort">
    <wsdl:operation name="getItem">
      <wsdl:input message="tns:getItemRequest" name="getItemRequest">
    </wsdl:input>
      <wsdl:output message="tns:getItemResponse" name="getItemResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemPortSoap11" type="tns:ItemPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getItem">
      <soap:operation soapAction=""/>
      <wsdl:input name="getItemRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemPortService">
    <wsdl:port binding="tns:ItemPortSoap11" name="ItemPortSoap11">
      <soap:address location="http://127.0.0.1:8080/searchItem"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>